@media screen and (min-width: 500px){
    body {
        font-family: 'Roboto', sans-serif;
    }
    
    header, main, footer {
        max-width: auto;
        margin: 1rem auto;
        border: 1px solid #bbb;
        padding: 1rem;
        background-color: white;
        text-align: center;
    }
    
    main {
        display: grid;
		grid-template-columns:  1fr 1fr;
        grid-gap: 1rem;
        background-color: #588157;
    }
    
    section {
        padding: 1rem;
        background-color: #fff;
    }

    header {
        background-color: #344e41;
        color: white;
    }

    footer {
        background-color: #344e41;
        color: white;
    }
    
}
