@media screen and (max-width: 499px){
    body {
        font-family: 'Roboto', sans-serif;
    }
    
    header, main, footer {
        max-width: 640px;
        margin: 1rem auto;
        border: 1px solid #bbb;
        padding: 1rem;
        background-color: white;
        text-align: center;
        justify-content: center;
    }
    
    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
        background-color: #588157;
    }
    
    section {
        padding: 1rem;
        background-color: #fff;
    }

    header {
        background-color: #344e41;
        color: white;
    }

    footer {
        background-color: #344e41;
        color: white;
    }
}

